:root{
    /* Colores */
    --ColorGrisSuaveUno: rgba(102,102,102,.15);
    --ColorGrisSuaveDos: rgba(102,102,102,.65);
    --ColorGrisSuaveTres: rgba(15,15,15,.6);
    --ColorGrisCinco: #4C4C4C;
    --ColorBlancoUno: #ffffff;
    --ColorBlancoDos: #f2f2f2;
    --ColorGrisUno: #b0b0b0;
    --ColorGrisDos: #666666;
    --ColorGrisTres: #212121;
    --ColorNegroUno: #555555;
    --ColorNegroDos: #090909;
    --ColorNegroTres: #0f0f0f;
    --ColorRojoUno: #d43636;
    --ColorNaranjaUno: #E36C29;
    --ColorAmarilloUno: #f5e963;
    --ColorVerdeUno: #43ab59;
    --ColorAzulUno: #3585e0;
    --ColorMoradoUno: #8157ef;
}

.modoNocturno{
    /* Colores [Cambiar segun el modo nocturno]*/
    --ColorGrisSuaveUno: rgba(102,102,102,.15);
    --ColorGrisSuaveDos: rgba(102,102,102,.65);
    --ColorGrisSuaveTres: rgba(15,15,15,.6);
    --ColorGrisCinco: #4C4C4C;
    --ColorBlancoUno: #ffffff;
    --ColorBlancoDos: #f2f2f2;
    --ColorGrisUno: #b0b0b0;
    --ColorGrisDos: #666666;
    --ColorGrisTres: #212121;
    --ColorNegroUno: #555555;
    --ColorNegroDos: #090909;
    --ColorNegroTres: #0f0f0f;
    --ColorRojoUno: #d43636;
    --ColorNaranjaUno: #E36C29;
    --ColorAmarilloUno: #f5e963;
    --ColorVerdeUno: #43ab59;
    --ColorAzulUno: #3585e0;
    --ColorMoradoUno: #8157ef;
}

body{
    background: var(--ColorBlancoUno);
    color: var(--ColorGrisTres);
}

.lname-containerGrl{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.pl-3, .px-3 {
     padding-left: 0 !important; 
     padding-top: 0 !important; 
}

.ContenedorBannerInformacion{
    width: 100%;
    padding: 20px 10px;
    background: var(--ColorGrisDos);
    color: var(--ColorBlancoDos);
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.ContenedorBannerInformacion p, .ContenedorContenidoBasesTitulo p{
    margin: 0;
}

.ContenedorContenidoBases{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.ContenedorContenidoBasesTitulo{
    width: 100%;
    padding: 5px 30px;
    color: var(--ColorGrisTres);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid var(--ColorGrisSuaveUno);
}

.ContenedorContenidoBasesTitulo p, .ContenedorContenidoBasesTitulo span{
    font-size: 18px;
}

.ContenedorBotonesFiltros{
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.botonFiltro{
    border: none;
    outline: none;
    background: var(--ColorGrisCinco);
    color: var(--ColorBlancoDos);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

.botonFiltroHover:hover{
    color: var(--ColorBlancoDos);
}

.ContenedorBotonDinamicoLayout{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: var(--ColorGrisDos);
    flex-wrap: nowrap;
    margin: 5px;
}

.ContenedorTextoBotonesIndicativos{
    border: none;
    outline: none;
    color: var(--ColorBlancoDos);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 4px;
    margin-right: 0;
}

.ContenedorTextoBotonesIndicativos p{
    margin: 0;
}

#FormularioFechaDesdeHasta .ContenedorTextoBotonesIndicativos, #FormularioFechaDesdeHasta .ContenedorTextoBotonesIndicativos{
    padding: 0;
    margin: 0;
    margin-left: 5px;
}

.botonAplicarFiltro{
    border: none;
    outline: none;
    background: var(--ColorVerdeUno);
    color: var(--ColorBlancoDos);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

.contenedorVisibilidadFiltros{
    display: none;
}

.FichaAbrirCerrarFiltros{
    background: var(--ColorGrisSuaveUno);
    color: var(--ColorNegroUno);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

/* Tabla de resultados [estilos] */
.ContenedorTablaGeneral{
    width: 95%;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.ContenedorFilasContenido{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.ItemFilaC{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.ContenedorFilasContenido:first-child .ItemFilaC{
    border: 1px solid transparent;
}

.ContenedorDetallesTabla{
    width: 95%;
    margin: 30px 0 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.ElementoIconoPaginaContenedor{
    width: 38px;
    height: 38px;
    border-radius: 9px;
    border: 1px solid var(--ColorGrisUno);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.ElementoIconoPaginaContenedor span{
    color: var(--ColorGrisTres);
}

.ElementoIconoPaginaContenedor:hover{
    background: var(--ColorGrisSuaveDos);
}

.ElementoIconoPaginaContenedorFlecha span{
    font-weight: bold;
}

.ElementoIconoPaginaContenedorPaginadorContador{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.etiquetaABotonesDinamicosSE{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}

.ElementoIconoPaginaContenedorFlechaDisabled{
    background: var(--ColorGrisSuaveDos);
}

.etiquetaAFilasSES, .etiquetaAFilasSES:hover{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    color: var(--ColorGrisTres); 
}

.etiquetaAFilasSES:nth-child(odd){
    background: var(--ColorGrisSuaveUno);
}

.elementoPrincipalTablaTitulo{
    background: var(--ColorGrisDos);
    color: var(--ColorBlancoDos);
}

.etiquetaAFilasSES:hover{
    background: var(--ColorGrisSuaveDos);
    cursor: pointer;
}

.contenedorTituloIS{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: var(--ColorGrisDos);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorTituloIS p{
    margin: 0;
    padding: 0;
    color: var(--ColorBlancoDos);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.contenedorFichaTIS{
    width: 100%;
    box-sizing: border-box;
}

.contenedorFichaTISTitulo{
    background: var(--ColorGrisSuaveUno);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.contenedorFichaTISTitulo p, .contenedorFichaTISTitulo span{
    text-transform: none;
    color: var(--ColorNegroUno);
    font-size: 16px;
}

.contenedorFichaTISTitulo span{
    color: var(--ColorVerdeUno);
    font-weight: bold;
}

.contenedorFilasInformacionIS{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
}

.contenedorBotonesIS{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonEditarISForm{
    padding: 5px 15px;
    background: var(--ColorAzulUno);
    color: var(--ColorBlancoDos);
    outline: none;
    border: none;
    border-radius: 5px;
    gap: 10px;
    margin: 0 5px 0 5px;
}

.botonEditarISFormC{
    background: var(--ColorRojoUno);
}

.botonEditarISFormG{
    background: var(--ColorVerdeUno);
}

/* tabla con datos */
.contenedorFilasTablaInformacionIS{
    width: 90%;
    margin: 20px 0 20px 5%;
}

.filasISInformacionColumnas{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
}
.contenedorFilaColumnaInformacionIS{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ColorGrisDos);
}

.contenedorFilaColumnaInformacionIS p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.InputFilaColumnaInformacionIS{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid var(--ColorGrisUno);
    color: var(--ColorGrisSuaveDos);
}

.InputFilaColumnaInformacionIS:disabled {
    color: var(--ColorGrisDos);
    border: none;
    font-weight: normal;
}

.filasISInformacionColumnas:nth-child(odd){
    background: var(--ColorGrisSuaveUno);
}

.contenedorFilaColumnaInformacionIS{
    border: 1px solid var(--ColorGrisSuaveUno);
}

.contenedorBotonesISAccionesGC{
    display: none;
}

/* estilos de la solicitud */
.fichaTituloSolicitudRIS{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border-radius: 5px;
    border: 1px solid var(--ColorGrisUno);
}

.fichaTituloSolicitudRIS p, .fichaTituloSolicitudRIS span{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: var(--ColorNegroUno);
}

.containerFichasSolicitudRIS{
    width: 100%;
    padding: 10px 25px 20px 25px;
}

.contenidoFichaSolicitudRIS{
    width: 100%;
    padding: 15px 0;
}

.contenidoFichaTituloContenedorRIS{
    width: 100%;
    padding: 0 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.separadorContenidoFichaTituloRIS{
    padding: 0 10px 0 0;
}

.separadorContenidoFichaTituloRIS p{
    color: var(--ColorNegroUno);
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.lineaVisionContenedorFichaTituloRIS{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.lineaVisionContenedorFichaTituloRIS::before{
    content: "";
    width: 100%;
    height: 1px;
    background: var(--ColorGrisUno);
}

.bloqueContenidoSectionFichaRIS{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* estilos de ficha */
.contenedorExpandibleElementosFRIS{
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.fichaSinElementosMsgRIS{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid var(--ColorGrisUno);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fichaSinElementosMsgRIS p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--ColorGrisTres);
}

.contenedorFichasArchivosElementosRIS{
    width: 100%;
    min-width: 400px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* etiquetas de pdf e img */
.fichaArchivoOnGridRIS{
    width: 90%;
    border-radius: 5px;
    border: 1px solid var(--ColorGrisUno);
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
}

.fichaArchivoOnGridRIS:hover{
    background: var(--ColorGrisSuaveUno);
}

.fichaArchivoOnGridRIS p{
    margin: 0;
    padding: 0;
    color: var(--ColorGrisTres);
    font-size: 16px;
}

@media only screen and (min-width:1700px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (max-width:1000px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media only screen and (max-width:650px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.etiquetaFichaArchivoTipoRIS{
    width: 50px;
    height: 18px;
    position: relative;
    left: -10px;
    top: -10px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--ColorBlancoDos);
    text-transform: uppercase;
    font-weight: bold;
}

.etiquetaFichaArchivoTipoRISPDF{
    background: var(--ColorRojoUno);
}

.etiquetaFichaArchivoTipoRISIMG{
    background: var(--ColorAzulUno);
}

.contenedorEtiquetasFichasArchivosRIS{
    padding: 10px;
}

.contenedorEtiquetasFichasArchivosRIS:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.etiquetaArchivoSEenRIS{
    outline: none;
    text-decoration: none;
}

.contenedorExpandibleElementosFRISNTV{
    display: none;
}

.contenedorFichasSubirArchivoNuevoRIS{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorContenidoFichaSubirArchivosRIS{
    width: 100%;
    margin-top: 10px;
}

.contenedorBotonesSubirArchivoRIS{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botonSubirArchivoRIS{
    padding: 5px 10px;
    background: var(--ColorAzulUno);
    outline: none;
    border-radius: 6px;
    border: none;
    color: var(--ColorBlancoDos);
}

.botonSubirArchivoRIS:first-child{
    margin-right: 5px;
}

.botonSubirArchivoRIS:last-child{
    margin-left: 5px;
}

.contenedorBotonesSubirArchivoRIS:last-child > .botonSubirArchivoRIS:first-child{
    background: var(--ColorRojoUno);
}

.contenedorBotonesSubirArchivoRIS:last-child > .botonSubirArchivoRIS:last-child{
    background: var(--ColorVerdeUno);
}

.OcultarSeccionSubirArchivos{
    display: none;
}

.labelCambiaEstadoSubirArchivosRIS{
    padding: 14px 40px;
    border-radius: 9px;
    border: 1px solid var(--ColorGrisUno);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--ColorGrisTres);
    cursor: pointer;
}

.contenedorMensajeErrorSubirArchivos{
    width: 100%;
    padding: 5px 10px;
    background: var(--ColorRojoUno);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ColorBlancoDos);
    font-size: 18px;
    border-radius: 5px;
}

.contenedorMensajeErrorSubirArchivos p{
    margin: 0;
    padding: 0;
}

.contenedorArchivosParaFormularioRIS{
    width: 100%;
}

.contenedorAsignarNombreParaFormularioRIS{
    width: 100%;
}

.fichaTituloAsirgnarParaFormularioRIS{
    width: 100%;
    padding: 0 5px 8px 5px;
    font-size: 18px;
    color: var(--ColorNegroUno);
    font-weight: bold;
}

.fichaTituloAsirgnarParaFormularioRIS p{
    margin: 0;
    padding: 0;
}

.inputTextAsirgnarParaFormularioRIS{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--ColorGrisTres);
    text-align: left;
    border-bottom: 1px solid var(--ColorGrisUno);
}

.inputTextAsirgnarParaFormularioRIS::placeholder{
    color: var(--ColorGrisTres);
}

/* estilo del mensaje de error al cargar en el servidor */
.contenedorMensajeDeErrorRespuestaRIS{
    width: 100%;
    padding: 7px;
    background: var(--ColorRojoUno);
    margin-top: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--ColorBlancoDos);
}

.contenedorMensajeDeErrorRespuestaRIS p{
    margin: 0;
    padding: 0;
}

.OcultarSeccionMensajeError{
    display: none;
}

.bannerVentanaModalGenericaRIS{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--ColorGrisSuaveTres);
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonCerrarModalGenericaRIS{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 35px;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botonCerrarModalGenericaRIS::before{
    content: "";
    width: 4px;
    height: 35px;
    border-radius: 5px;
    background: var(--ColorBlancoDos);
    transform: rotate(45deg);
    position: absolute;
}

.botonCerrarModalGenericaRIS::after{
    content: "";
    width: 4px;
    height: 35px;
    border-radius: 5px;
    background: var(--ColorBlancoDos);
    transform: rotate(-45deg);
    position: absolute;
}

.contenedorMensajeBannerGenericoRIS{
    padding: 25px 45px;
    max-width: 450px;
    max-height: 90vh;
    background: var(--ColorBlancoDos);
    border-radius: 8px;
    overflow: auto;
}

.contenedorMensajeBannerGenericoRIS p{
    padding: 0;
    margin: 0;
    color: var(--ColorGrisTres);
    font-size: 17px;
}

.ocultarVentanaModalGenerica{
    display: none;
}

#contenedorTabla-BotonesGRL{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* boton automatico */
.contenedorBotonAutomaticoTablaRIS{
    width: 100%;
    padding: 10px 25px;
    margin: 20px 0 10px 0;
    display: grid;
    grid-template-columns: 1.1fr .9fr;
    grid-template-rows: 1fr;
}

.contenedorFichasBotonAutomaticoRIS{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8px;
}

.contenedorFichasBotonAutomaticoRIS:first-child{
    justify-content: flex-end;
}

#checkboxBotonTablaAutomaticaRIS{
    display: none;
}

.contenedorFichasBotonAutomaticoRIS p{
    margin: 0;
    padding: 0;
    color: var(--ColorGrisTres);
    font-size: 16px;
}

.labelBotonTablaAutomaticaRIS{
    width: 30px;
    height: 17px;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: var(--ColorRojoUno);
    border: 1px solid transparent;
    cursor: pointer;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}

.labelBotonTablaAutomaticaRIS::before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--ColorBlancoDos);
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 55%);
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
}

#checkboxBotonTablaAutomaticaRIS:checked + .labelBotonTablaAutomaticaRIS::before{
    transform: translateX(14px);
}

#checkboxBotonTablaAutomaticaRIS:checked + .labelBotonTablaAutomaticaRIS{
    background: var(--ColorVerdeUno);
}

/* Estilo panel de propiedades */
.contenedorPanelPropiedadesDocumentoRIS{
    width: 100%;
    padding: 0 20px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorPanelPropiedadesDocumentoRIS:last-child{
    padding: 0 0 15px 20px;
}

.contenedorElementosFichasPropiedadesRIS{
    width: 100%;
    padding: 8px 5px 8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.contenedorPanelPropiedadesDocumentoRIS:last-child .contenedorElementosFichasPropiedadesRIS{
    justify-content: flex-start;
    padding: 8px 10px 8px 5px;
}

.fichasElementosPropiedadesRIS{
    padding: 0 5px;
}

.fichasElementosPropiedadesRIS:first-child{
    padding: 0 10px 0 25px;
}

.fichasElementosPropiedadesRIS p{
    padding: 0;
    margin: 0;
    color: var(--ColorGrisTres);
    font-size: 15px;
}

.fichasElementosPropiedadesRIS:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchCambiarEstadoPropiedadesRIS{
    width: 30px;
    height: 17px;
    border-radius: 20px;
    background: var(--ColorRojoUno);
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    margin: auto;
    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}

.switchCambiarEstadoPropiedadesRIS::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--ColorBlancoDos);
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 55%);
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
}

.inputCheckboxPropiedades:checked + .switchCambiarEstadoPropiedadesRIS::before{
    transform: translateX(14px);
}

.inputCheckboxPropiedades:checked + .switchCambiarEstadoPropiedadesRIS{
    background: var(--ColorVerdeUno);
}

.contenedorFichasFlexGridRIS{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contenedorPropiedadesNotasEditablesRIS{
    width: 100%;
    padding: 0 15px 10px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorAgregarAnotacionFichaRIS{
    width: 90%;
    min-height: 50px;
}

.inputTextGenericoNotasFichasEnRIS{
    width: 100%;
    min-height: 50px;
    max-height: 100px;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid var(--ColorGrisUno);
    color: var(--ColorGrisTres);
    box-sizing: border-box;
    padding: 5px 8px;
}

.inputTextGenericoNotasFichasEnRIS::placeholder{
    color: var(--ColorGrisDos);
}

.formularioNotasRIS{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorBotonesAgregarNuevaNotaRIS{
    width: 90%;
    padding: 0 0 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.botonGenericoAgregarNotaRIS{
    padding: 5px 8px;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
    background: var(--ColorVerdeUno);
    color: var(--ColorBlancoDos);
}

.botonGenericoAgregarNotaRIS:first-child{
    margin-right: 10px;
    background: var(--ColorRojoUno);
}

.contenedorNotasDinamicasGeneradasRIS{
    width: 100%;
    min-width: 500px;
    padding: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fichaNotaDinamicaGeneradaRIS{
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 150px;
}

.contenedorConfirmarEliminacionNotaRIS{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedorBotonesConfirmarRIS{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedorBotonesConfirmarRIS p{
    padding: 0;
    margin: 0;
    color: var(--ColorGrisTres);
    font-size: 16px;
}

.botonConfirmarAccionRIS{
    padding: 5px;
    color: var(--ColorBlancoDos);
    background: var(--ColorRojoUno);
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
}

.botonConfirmarAccionRIS:last-child{
    background: var(--ColorVerdeUno);
    padding: 5px 8px;
}

.contenedorBotonesConfirmarRIS > div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ocultarContenedorNotasRIS{
    display: none;
}

.btnEliminarNotaIniciarConfirmacionRIS{
    background: var(--ColorRojoUno);
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px 8px;
    color: var(--ColorBlancoDos);
}

.contenedorNotaDinamicaTextoRIS{
    width: 95%;
    min-width: 200px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--ColorGrisUno);
    padding: 5px;
}

.contenedorNotaDinamicaTextoRIS p{
    font-size: 14px;
    color: var(--ColorGrisTres);
    margin: 0;
    padding: 0;
}

.contenedorFechaNotaDinamicaRIS{
    padding: 5px 15px 5px 0;
}

.contenedorFechaNotaDinamicaRIS p{
    margin: 0;
    padding: 0;
    color: var(--ColorGrisSuaveDos);
    font-size: 14px;
}

/* Estilos informacion de la solicitud */

.itemTablaEstadoGeneralRIS{
    font-weight: bold;
    color: var(--ColorGrisSuaveDos);
    text-transform: uppercase;
    margin-left: 1px;
}

.itemTablaEstadoGeneralRISNuevo{
    color: var(--ColorVerdeUno);
}

.itemTablaEstadoGeneralRISPendiente{
    color: var(--ColorNaranjaUno);
}

.itemTablaEstadoGeneralRISUrgente{
    color: var(--ColorRojoUno);
}

.itemTablaEstadoGeneralRISVulnerable{
    color: var(--ColorAzulUno);
}

/* Cuadro de busqueda */

.contenedorCuadroBusquedaNP{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedorElementosCuadroBusquedaNP{
    width: 90%;
    padding: 5px;
}

.contenedorBuscadorCuadroBusquedaNP{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    position: relative;
}

.contenedorResultadosCuadoBusquedaNP{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}

/* CONTENEDOR DE FICHAS */
.contenedorGeneralResultadoNP{
    width: 85%;
    padding: 5px 9px;
    background: var(--ColorGrisSuaveUno);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    min-width: 350px;
    border: 2px solid transparent;
}

/* Normal */
.contenedorGeneralResultadoNP:not(.contenedorGeneralResultadoVacioNP):hover{
    border: 2px solid var(--ColorVerdeUno);
}


/* Seleccionado */
.contenedorGeneralResultadoActivoNP:not(.contenedorGeneralResultadoVacioNP):hover, .contenedorGeneralResultadoActivoNP:not(.contenedorGeneralResultadoVacioNP){
    border: 2px solid var(--ColorAzulUno);
}

.inputBuscarElementoNP{
    width: 100%;
    height: 100%;
    min-width: 350px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--ColorGrisSuaveDos);
    font-size: 20px;
    text-align: center;
    position: relative;
    z-index: 45;
    background: transparent;
    color: var(--ColorGrisCinco);
}

.labelBuscarElementoNP{
    padding: 2px 5px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 18px;
    text-transform: uppercase;
    z-index: 25;
    transition: all .07s linear;
    color: var(--ColorGrisSuaveDos);
    display: inline;
    white-space: nowrap;
}

.labelBuscarElementoActivoNP{
    color: var(--ColorGrisDos);
    font-size: 16px;
    transform: translate(-50%, -200%);
}

.contenedorTituloBusquedaNP{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.contenedorTituloBusquedaNP p{
    margin: 0;
    padding: 0;
    color: var(--ColorGrisTres);
    font-size: 20px;
}

/* contenedor de fichas */

.contenedorFichaGeneralResultadoNP{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.contenedorElementosFichaResultadosNP{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorElementosFichaResultadosNP:last-child{
    align-items: flex-start;
    flex-direction: column;
}

.imagenProgramaFichaGenerealResultadoNP{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--ColorGrisSuaveDos);
}

.contenedorFilasFichaResultadosNP p, .contenedorFilasFichaResultadosNP span{
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: var(--ColorGrisDos);
    text-align: left;
}

.contenedorFilasFichaResultadosNP span{
    font-weight: bold;
}

.contenedorFilasFichaResultadosNP{
    width: 100%;
    margin-bottom: 3px;
}

.contenedorFilasFichaResultadosNP:last-child{
    margin: 0;
}

.resultadoVacioContenedorGNP{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
}

.resultadoVacioContenedorGNP p{
    padding: 0;
    margin: 0;
    color: var(--ColorGrisDos);
}

