.lname-containerGrl{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.pl-3, .px-3 {
     padding-left: 0 !important; 
     padding-top: 0 !important; 
}

.ContenedorBannerInformacion{
    width: 100%;
    padding: 20px 10px;
    background: #444444;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.ContenedorBannerInformacion p, .ContenedorContenidoBasesTitulo p{
    margin: 0;
}

.ContenedorContenidoBases{
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.ContenedorContenidoBasesTitulo{
    width: 100%;
    padding: 5px 30px;
    color: #0e0e0e;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.ContenedorContenidoBasesTitulo p, .ContenedorContenidoBasesTitulo span{
    font-size: 18px;
}

.ContenedorBotonesFiltros{
    width: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.botonFiltro{
    border: none;
    outline: none;
    background: #444444;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

.botonFiltroHover:hover{
    color: #f0f0f0;
}

.ContenedorBotonDinamicoLayout{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: rgba(0,0,0,0.55);
    flex-wrap: nowrap;
    margin: 5px;
}

.ContenedorTextoBotonesIndicativos{
    border: none;
    outline: none;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 4px;
    margin-right: 0;
}

.ContenedorTextoBotonesIndicativos p{
    margin: 0;
}

#FormularioFechaDesdeHasta .ContenedorTextoBotonesIndicativos, #FormularioFechaDesdeHasta .ContenedorTextoBotonesIndicativos{
    padding: 0;
    margin: 0;
    margin-left: 5px;

}

.botonAplicarFiltro{
    border: none;
    outline: none;
    background: #206F1A;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
}

.contenedorVisibilidadFiltros{
    display: none;
}

.FichaAbrirCerrarFiltros{
    background: rgba(0,0,0,.09);
    color: #444444;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

/* Tabla de resultados [estilos] */

.ContenedorTablaGeneral{
    width: 95%;
    margin: 30px 0 0 0;
   /* margin: 30px 0 0 2.5%;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

.ContenedorFilasContenido{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.ItemFilaC{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.04);
}

.ContenedorFilasContenido:first-child .ItemFilaC{
    border: 1px solid transparent;
}

.ContenedorDetallesTabla{
    width: 95%;
    margin: 30px 0 0 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

}

.ElementoIconoPaginaContenedor{
    width: 38px;
    height: 38px;
    border-radius: 9px;
    border: 1px solid rgba(0,0,0,.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.ElementoIconoPaginaContenedor span{
    color: rgba(0,0,0,.8);
}

.ElementoIconoPaginaContenedor:hover{
    background: rgba(0,0,0,.22);
}

.ElementoIconoPaginaContenedorFlecha span{
    font-weight: bold;
}

.ElementoIconoPaginaContenedorPaginadorContador{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.etiquetaABotonesDinamicosSE{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}

.ElementoIconoPaginaContenedorFlechaDisabled{
    background: rgba(0,0,0,.22);
}

.etiquetaAFilasSES, .etiquetaAFilasSES:hover{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    color: #222222; 
}

.etiquetaAFilasSES:nth-child(odd){
    background: rgba(0,0,0,0.1);
}

.elementoPrincipalTablaTitulo{
    background: #444444;
    color: #ffffff;
}

.elementoPrincipalTablaTitulo{
    background: #444444;
    color: #ffffff;
}

.etiquetaAFilasSES:hover{
    background: rgba(0,0,0,0.27);
    cursor: pointer;
}

.contenedorTituloIS{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorTituloIS p{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.contenedorFichaTIS{
    width: 100%;
    box-sizing: border-box;
}

.contenedorFichaTISTitulo{
    background: rgba(0,0,0,.09);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.contenedorFichaTISTitulo p, .contenedorFichaTISTitulo span{
    text-transform: none;
    color: #444444;
    font-size: 16px;
}

.contenedorFichaTISTitulo span{
    color: #3B7538;
    font-weight: bold;
}

.contenedorFilasInformacionIS{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
}

.contenedorInformacionSolicitanteIS{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.contenedorInformacionSolicitanteIS p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.contenedorInformacionSolicitanteIS input{
    outline: none;
    border: none;
    width: 80%;
    height: 100%;
    border-bottom: 1px solid rgba(0,0,0,.4);
    text-align: center;
}

.contenedorBotonesIS{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonEditarISForm{
    padding: 5px 15px;
    background: #1A456F;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    gap: 10px;
    margin: 0 5px 0 5px;
}

.botonEditarISFormC{
    background: #6F1A1A;
}

.botonEditarISFormG{
    background: #206F1A;
}

/* tabla con datos */

.contenedorFilasTablaInformacionIS{
    width: 90%;
    margin: 20px 0 20px 5%;
}

.filasISInformacionColumnas{
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
}
.contenedorFilaColumnaInformacionIS{
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorFilaColumnaInformacionIS p{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.InputFilaColumnaInformacionIS{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    text-align: center;
    background: transparent;
    border-bottom: 1px solid rgba(135,137,141,1);
    color: rgba(104,106,109,1);
    font-weight: bold;
}

.InputFilaColumnaInformacionIS:disabled {
    color: #0e0e0e;
    border: none;
    font-weight: normal;
}

.filasISInformacionColumnas:nth-child(odd){
    background: rgba(0,0,0,0.1);
}

.contenedorFilaColumnaInformacionIS{
    border: 1px solid rgba(0,0,0,.08);
}

.contenedorBotonesISAccionesGC{
    display: none;
}

/* estilos de la solicitud */
.fichaTituloSolicitudRIS{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.fichaTituloSolicitudRIS p, .fichaTituloSolicitudRIS span{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #444444;
}

.containerFichasSolicitudRIS{
    width: 100%;
    padding: 10px 25px 20px 25px;
}

.contenidoFichaSolicitudRIS{
    width: 100%;
    padding: 15px 0;
}

.contenidoFichaTituloContenedorRIS{
    width: 100%;
    padding: 0 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.separadorContenidoFichaTituloRIS{
    padding: 0 10px 0 0;
}

.separadorContenidoFichaTituloRIS p{
    color: rgba(0,0,0,.7);
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.lineaVisionContenedorFichaTituloRIS{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.lineaVisionContenedorFichaTituloRIS::before{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,.3);
}

.bloqueContenidoSectionFichaRIS{
    width: 100%;
    padding: 0;
    margin: 0;
}

/* estilos de ficha */
/*
.contenidoFichaTituloContenedorRIS{
    background: sienna;
}

.contenidoFichaSolicitudRIS{
    background: coral;
}

.containerFichasSolicitudRIS{
    background: darkkhaki;
}

.fichaSinElementosMsgRIS{
    background: purple;
}*/

.contenedorExpandibleElementosFRIS{
    width: 100%;
    padding: 0;
    margin-top: 10px;
}

.fichaSinElementosMsgRIS{
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fichaSinElementosMsgRIS p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(0,0,0,.6);
}

.contenedorFichasArchivosElementosRIS{
    width: 100%;
    min-width: 400px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* etiquetas de pdf e img */



.fichaArchivoOnGridRIS{
    width: 90%;
 /*   padding: 10px;*/
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr;
    cursor: pointer;
}

.fichaArchivoOnGridRIS:hover{
    background: rgba(0,0,0,.2);
}

.fichaArchivoOnGridRIS p{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.8);
    font-size: 16px;
}


@media only screen and (min-width:1700px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}

@media only screen and (max-width:1000px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media only screen and (max-width:650px) {
    .contenedorFichasArchivosElementosRIS{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

.etiquetaFichaArchivoTipoRIS{
    width: 50px;
    height: 18px;
    position: relative;
    left: -10px;
    top: -10px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgba(255,255,255,.9);
    text-transform: uppercase;
    font-weight: bold;
}

.etiquetaFichaArchivoTipoRISPDF{
    background: #BF2828;
}

.etiquetaFichaArchivoTipoRISIMG{
    background: #287FBF;
}

.contenedorEtiquetasFichasArchivosRIS{
    padding: 10px;
}

.contenedorEtiquetasFichasArchivosRIS:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

.etiquetaArchivoSEenRIS{
    outline: none;
    text-decoration: none;
}

.contenedorExpandibleElementosFRISNTV{
    display: none;
}

.contenedorFichasSubirArchivoNuevoRIS{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedorContenidoFichaSubirArchivosRIS{
    width: 100%;
    margin-top: 10px;
}

.contenedorBotonesSubirArchivoRIS{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botonSubirArchivoRIS{
    padding: 5px 10px;
    background: #287FBF;
    outline: none;
    border-radius: 6px;
    border: none;
    color: rgba(255,255,255,.8);
}

.botonSubirArchivoRIS:first-child{
    margin-right: 5px;
}

.botonSubirArchivoRIS:last-child{
    margin-left: 5px;
}

.contenedorBotonesSubirArchivoRIS:last-child > .botonSubirArchivoRIS:first-child{
    background: #6F1A1A;
}

.contenedorBotonesSubirArchivoRIS:last-child > .botonSubirArchivoRIS:last-child{
    background: #206F1A;
}

.OcultarSeccionSubirArchivos{
    display: none;
}

.labelCambiaEstadoSubirArchivosRIS{
    padding: 14px 40px;
    border-radius: 9px;
    border: 1px solid rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(0,0,0,.8);
    cursor: pointer;
}

.contenedorMensajeErrorSubirArchivos{
    width: 100%;
    padding: 5px 10px;
    background: rgba(236, 56, 56, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.8);
    font-size: 18px;
    border-radius: 5px;
}

.contenedorMensajeErrorSubirArchivos p{
    margin: 0;
    padding: 0;
}

.contenedorArchivosParaFormularioRIS{
    width: 100%;
}

.contenedorAsignarNombreParaFormularioRIS{
    width: 100%;
}

.fichaTituloAsirgnarParaFormularioRIS{
    width: 100%;
    padding: 0 5px 8px 5px;
    font-size: 18px;
    color: rgba(0,0,0,.8);
    font-weight: bold;
}

.fichaTituloAsirgnarParaFormularioRIS p{
    margin: 0;
    padding: 0;
}

.inputTextAsirgnarParaFormularioRIS{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: rgba(0,0,0,1);
    text-align: left;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

/* estilo del mensaje de error al cargar en el servidor */

.contenedorMensajeDeErrorRespuestaRIS{

    width: 100%;
    padding: 7px;
    background: rgba(236, 56, 56, .9);
    margin-top: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(255,255,255,.8);

}

.contenedorMensajeDeErrorRespuestaRIS p{
    margin: 0;
    padding: 0;
}

.OcultarSeccionMensajeError{
    display: none;
}

.bannerVentanaModalGenericaRIS{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonCerrarModalGenericaRIS{
    width: 45px;
    height: 45px;
    position: absolute;
    right: 35px;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.botonCerrarModalGenericaRIS::before{
    content: "";
    width: 4px;
    height: 35px;
    border-radius: 5px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
}

.botonCerrarModalGenericaRIS::after{
    content: "";
    width: 4px;
    height: 35px;
    border-radius: 5px;
    background: white;
    transform: rotate(-45deg);
    position: absolute;
}

.contenedorMensajeBannerGenericoRIS{
    padding: 25px 45px;
    max-width: 450px;
    max-height: 90vh;
    background: white;
    border-radius: 8px;
    overflow: auto;
}

.contenedorMensajeBannerGenericoRIS p{
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,.8);
    font-size: 17px;
}

.ocultarVentanaModalGenerica{
    display: none;
}

#contenedorTabla-BotonesGRL{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}